.containerbody {
    height: 532px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 3% 0% 3% 0%;
    justify-content: space-around;

}

.Bestselling {
    width: 25%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700px;
    font-size: 40px;
    line-height: 48px;
    


}

.description {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 500px;
    align-items: flex-end;
    font-size: 20px;
    line-height: 48px;
    color: rgba(30, 30, 30, 0.5);
}


.Showitem {
align-items: center;
width: 299.33px;
flex-direction: row;

}

.Showitem img{
    display: flex;
    width: 299.33px;
    height: 363px;
border-radius: 12px;
flex-wrap: wrap;

}

@media (width <= 1350px){
.topselling :last-child {
    display: none;
}
}

.itemname {
    display: flex;
   
   align-items: flex-start;
   font-family: 'Poppins';
font-style: normal;
position: relative;
top: 3%;
font-weight: 500;
font-size: 18px;
line-height: 27px;
width: 299.33px;

}

.itemprice {
    display: flex;
 
   align-items: flex-start;
   font-family: 'Poppins';
font-style: normal;
position: relative;
top: 5%;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: rgba(30, 30, 30, 0.5);
}

#mainbutton {
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
gap: 10px;
width: 168px;
height: 51px;
background: #C1DCDC;
border-radius: 8px;
flex: none;
order: 1;
flex-grow: 0;
border-color: #ffffff;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
}