.input-wrapper {
    background-color: white;
    width: 449px;
height: 64px;
    border-radius: 12px;
    padding: 0 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 2px 2px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: flex;
    align-items: center;
    margin-right: 300px;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    margin-left: 5px;
    font-size: 19px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

input ::placeholder{
    color: #C1DCDC;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

input:focus {
    outline: none;
}

#search-icon {
    color: #1E1E1E;

    font-size: 25px;
  
  
}

#icondiv {
    background-color: #C1DCDC;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
}