.footer {
    height: 400px;
    background-color: #c1dcdc;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-storedetails {
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 115px;
    height: 200px;
    justify-content: space-around;
    flex-flow: initial;

}

.logofooter{
    display: flex;
    align-items: flex-start;
    font-family: 'Abhaya Libre', serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1E1E1E;
    margin-top: 48px;

}

.storedescription {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 250px;
    color: rgba(30, 30, 30, 0.5);
    margin-top: 20px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 115px;
    height: 200px;
    text-decoration: none;
    position: relative;
    top: 48px;
}

.footer-section > a:first-child {  
    font-weight: 700;
    color: #1E1E1E;
}

.footer-section > a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.5);
    text-decoration: none;
}

.socialNetworksLogo {
    
   display: flex;
   gap: 20px;
    margin-top: 20px;
}

.socialNetworksLogo a {
    font-size: 48px;
    color: rgba(30, 30, 30, 0.5);
  
}

.copyright {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    height: max-content;
    font-size: 18px;
    line-height: 27px;
    width: 500px;
    color: rgba(30, 30, 30, 0.5);
    position: relative;
    justify-content: center;
    top: 120px;
}