.results-list {
    width: 100%;
    background-color: white;
    text-decoration: none;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    max-width: 500px;
    overflow-y: scroll;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 27px;
color: rgba(30, 30, 30, 0.5);
position: absolute;
z-index: 9999;

.results-list a{
  text-decoration: none;
}
  
  }
  .results-list::-webkit-scrollbar {
    width: 8px;
  }
  
  .results-list::-webkit-scrollbar-track {
    background-color: #dddddd;
  }
  
  .results-list::-webkit-scrollbar-thumb {
    background-color: #888888;
  }
  
  .results-list::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }
  
  /* CSS For SearchResult.jsx  */
  
  .search-result {
    padding: 10px 20px;
    text-decoration: none;
  }

  .search-result a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.5);
  }
  .search-result:hover {
    background-color: #efefef;
    text-decoration: none;
  }