.imageProductDetailContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
  
}

.toppingpage {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}